*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapers.com/images/hd/plain-dark-black-abstract-m5o78vt2ov9rmypr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.miniContainer{
    width: 70%;
    height: 20vh;
    /* border: 2px solid red; */
}